.input{
    width: 420px;
    height: 40px;
    margin-top: 3px;
    padding-left: 10px;
    border: 2px solid var(--color-border);
    border-radius: 0.25rem;
    font-size: 18px;

    &:focus{
        outline: none;
        border: 2px solid var(--color-background);
    }
}