.container-cep{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;

    .content-cep{
        width: 100%;        

        .card{
            display: flex;
            margin-top: 50px;

            div{
                display: flex;
                flex-direction: column;
            }
        }

        .card-btn{
            margin-top: 40px;
        }
    }

    .hr-cep{
        background-color: rgb(110, 60, 188);
        margin-top: 50px;
    }
}