*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Ubuntu;
}

:root{
    --color-background: #6E3CBC;
    --color-textprimary: #FFF;
    --color-textsecundary: #000000;
    --color-border:#CCC;
}