.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 30px 150px;
    background-color: var(--color-background);
    
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;       
        
        li a{
            font-size: 20px;
            color: var(--color-textprimary); 
            text-decoration: none;
            position: relative;
            
            &:hover{
                color: var(--color-border);
            }

            &:after {
                content: "";
                position: absolute;
                background-color: var(--color-textprimary);
                height: 3px;
                width: 0;
                left: 0;
                bottom: -5px;
                transition: 0.3s;
              }  
            
              &:hover:after {
                width: 100%;
              }
        }
    }

    p{
        font-size: 30px;
        font-weight: bold;
        color: var(--color-textprimary);
    }
}