footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    div{
        width: 63%;

        p{
            color: var(--color-textsecundary);
        }
    }
}